<!Doctype HTML>
<html>
<head>
  <title>WUSTL Course Reviews</title>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

  <script src="/javascripts/angularApp.js"></script>
  <style> .glyphicon-thumbs-up { cursor:pointer } </style>

</head>
<body ng-app="ourBlog">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Welcome to WUSTL Course Reviews</h1>
    </div>
    <p>
      Search: <input ng-model="$ctrl.query" />
      Sort By:
      <select ng-model="$ctrl.orderProp">
        <option value="name">Course Name</option>
        <option value="code">Course Code</option>
        <option value="dept">Department</option>
        <option value="prof">Professor Name</option>
      </select>
    </p>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>Picture</th>
        <th>Professor</th>
        <th>Course Name</th>
        <th>Course Code</th>
        <th>Department</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="course in courses |filter:$ctrl.query| orderBy:$ctrl.orderProp">
          <td><img src={{course.img_link}} alt = "Image Here" height = "42" width = "42"</td>
          <td>{{course.prof}}</td>
          <td>{{course.name}}</td>
          <td>{{course.code}}</td>
          <td>{{course.dept}}</td>
      </tr>
    </tbody>
    </table>
    <!-- Add A New Course -->
    <form ng-submit="addCourse()"
    style="margin-top:30px;">
    <h3>Add a New Course</h3>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Course Name"
      ng-model="course_name"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Department"
      ng-model="depart"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Course Code"
      ng-model="course_code"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Professor"
      ng-model="prof"></input>
    </div>
    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Link to Image (Optional)"
      ng-model="img_link"></input>
    </div>
    <button type="submit" class="btn btn-primary">Add Course</button>
  </form>
</script>

<!-- Reviews -->
<script type="text/ng-template" id="/courses.html">
<div class="page-header">
<h3>
{{course.title}}
</h3>
</div>


<!--
<script type="text/ng-template" id="/posts.html">
<div class="page-header">
<h3>
<a ng-show="course.link" href="{{course.link}}">
{{course.title}}
</a>
<span ng-hide="course.link">
{{course.title}}
</span>
</h3>
</div>

<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
<span class="glyphicon glyphicon-thumbs-up"
ng-click="incrementUpvotes(comment)"></span>
<span class="glyphicon glyphicon-thumbs-down"
ng-click="decrementUpvotes(comment)"></span>
{{comment.upvotes}} - by {{comment.author}}
<span style="font-size:20px; margin-left:10px;">
{{comment.body}}
</span>
</div>
<form ng-submit="addComment()"
style="margin-top:30px;">
<h3>Add a new comment</h3>

<div class="form-group">
<input type="text"
class="form-control"
placeholder="Comment"
ng-model="body"></input>
</div>
<button type="submit" class="btn btn-primary">Post</button>
</form> -->

</script>
</body>
</html>
