<!Doctype HTML>
<html>
<head>
  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
	  <h3> Register New Account! </h3>
      <form action = "/register" method = "POST">
        User Name:
        <input type="text" name="username"><br />
        Password:
        <input type="password" name="password"><br>
        <input type="submit" value="Register">
      </form>
	  <h3> Or, If You're Already Registered... </h3>
      <a href = "/login" class="btn btn-info" >Go To Login!</a>
    </div>
  </div>
</body>
</html>
